<div>
  <h2 class="titlePage">Registrar Pago Empleado</h2>
  <hr class="hrTitlePage" />
</div>

<div>
  <!--form-->
  <form class="form-horizontal" [formGroup]="employeeForm" (ngSubmit)="save()" >

    <div class="form-group">
      <label for="nombre" class="col-lg-2 control-label">Nombre</label>
      <div class="col-lg-6">
        <input type="text" class="form-control" id="nombre" formControlName="name">
        <span class="invalid-feedback" *ngIf="employeeForm.get('name').touched || employeeForm.get('name').dirty">
          <span *ngIf="employeeForm.get('name').errors?.required" style="color: red;">
            Ingresar el Nombre
          </span>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="precioHora" class="col-lg-2 control-label">Precio Hora</label>
      <div class="col-lg-6">
        <input type="number" class="form-control" id="precioHora" formControlName="priceHour">
        <span class="invalid-feedback" *ngIf="employeeForm.get('priceHour').touched || employeeForm.get('priceHour').dirty">
          <span *ngIf="employeeForm.get('priceHour').errors?.required" style="color: red;">
            Ingresar el Nombre
          </span>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="totalHoras" class="col-lg-2 control-label">Total Horas</label>
      <div class="col-lg-6">
        <input type="number" class="form-control" id="totalHoras" formControlName="totalHoursWork">
        <span class="invalid-feedback" *ngIf="employeeForm.get('totalHoursWork').touched || employeeForm.get('totalHoursWork').dirty">
          <span *ngIf="employeeForm.get('totalHoursWork').errors?.required" style="color: red;">
            Ingresar el Nombre
          </span>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="antiguedad" class="col-lg-2 control-label">Antiguedad</label>
      <div class="col-lg-6">
        <input type="number" class="form-control" id="antiguedad" formControlName="antiquity">
        <span class="invalid-feedback" *ngIf="employeeForm.get('antiquity').touched || employeeForm.get('antiquity').dirty">
          <span *ngIf="employeeForm.get('antiquity').errors?.required" style="color: red;">
            Ingresar el Nombre
          </span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-1">
        <button type="submit" class="btn btn-primary"
                [disabled]="!employeeForm.valid"
                [title]="!employeeForm.valid? 'Complete todos los campos requeridos': 'Guardar el salario del empleado'"
                >Guardar</button>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
  </form>
</div>
