<div>
  <h2 class="titlePage">Palindroma Words</h2>
  <hr class="hrTitlePage" />
</div>

<div>
  <div class="col-md-2 containerButtonAdd">
    <button class="btn btn-primary containerButtonAdd-button" [routerLink]="['/word', 0]">Evaluar Palabra</button>
  </div>
</div>

<div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Palabra</th>
          <th>Es Palindroma?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let word of words">
          <td>{{word.message}}</td>
          <td>{{word.isPalindroma}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
