<div>
  <h2 class="titlePage">Employee Salary</h2>
  <hr class="hrTitlePage"/>
</div>


<div>
  <div class="col-md-2 containerButtonAdd">
    <button class="btn btn-primary containerButtonAdd-button" [routerLink]="['/employee', 0]">Add Employee Salary</button>
  </div>
</div>

<div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th style="text-align: right">Precio Hora</th>
          <th style="text-align: right">Total Horas</th>
          <th style="text-align: right">Antiguedad</th>
          <th style="text-align: right">Pago Bruto</th>
          <th style="text-align: right">Descuentos</th>
          <th style="text-align: right">Pago Neto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{employee.name}}</td>
          <td style="text-align: right">{{employee.priceHour}}</td>
          <td style="text-align: right">{{employee.totalHoursWork}}</td>
          <td style="text-align: right">{{employee.antiquity}}</td>
          <td style="text-align: right">{{employee.totalGrossCharge}}</td>
          <td style="text-align: right">{{employee.totalDiscounts}}</td>
          <td style="text-align: right">{{employee.netoPayment}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
