
.titlePage {
    margin-top: 0;
}

.hrTitlePage {
    margin-top: 0;
}

.containerButtonAdd {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
}

.containerButtonAdd-button {
  width: 100%;
}
